#main {
  margin-left: 80px;
  margin-right: 80px;
  background-color: silver;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
}
#img-div{
  align: center;
	max-width: 100%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#img-div2{
	float: right;
	max-width: 100%;
  display: block;
  height: auto;
  margin-left:20px;
  border-radius: 20px;
}
#tribute-link {
  text-align: center;
}
/* textual content describing the subject of the tribute page */
#tribute-info {

}
#title {
  
}
.text-center {
	text-align: center;
}
